<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Location</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>State/Province</th>
        <th>Postal Code</th>
        <th> <button  [routerLink]="['/addoffice']"> Create</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let office of officeList| async; let i = index">
        <td class="mdl-data-table__cell--non-numeric">
            <span *ngIf="!editMode">{{office.locationName}}</span>
            <span *ngIf="editMode && office.id === currentEditId"><input class="mdl-textfield__input" attr.id="location-name-{{i}}" type="text" value="{{office.locationName}}" /></span>
          </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span *ngIf="!editMode">{{office.streetAddressLine1}}</span>
          <span *ngIf="editMode && office.id === currentEditId"><input class="mdl-textfield__input" attr.id="location-name-{{i}}" type="text" value="{{office.streetAddressLine1}}" /></span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span *ngIf="!editMode">{{office.streetAddressLine2}}</span>
          <span *ngIf="editMode && office.id === currentEditId"><input class="mdl-textfield__input" attr.id="location-name-{{i}}" type="text" value="{{office.streetAddressLine2}}" /></span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span *ngIf="!editMode">{{office.cityName}}</span>
          <span *ngIf="editMode && office.id === currentEditId"><input class="mdl-textfield__input" attr.id="location-name-{{i}}" type="text" value="{{office.cityName}}" /></span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span *ngIf="!editMode">{{office.stateProvinceCode}}</span>
          <span *ngIf="editMode && office.id === currentEditId"><input class="mdl-textfield__input" attr.id="location-name-{{i}}" type="text" value="{{office.stateProvinceCode}}" /></span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span *ngIf="!editMode">{{office.postalCode}}</span>
          <span *ngIf="editMode && office.id === currentEditId"><input class="mdl-textfield__input" attr.id="location-name-{{i}}" type="text" value="{{office.postalCode}}" /></span>
        </td>
        <td><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" *ngIf="!editMode" [routerLink]="['/editoffice/'+ office.id]" ><i class="material-icons">edit</i></button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" *ngIf="editMode && office.id === currentEditId" (click)="switchMode(office.id)"><i class="material-icons">cancel</i></button></td>
      </tr>

    </tbody>
  </table>
